##############basic###################
.vscode
*.pdf
*.doc
*.docx
*.rar
*.txt
*.html
*.jpg
*.chm
*.log
*.zip
*.xml
tmp*

##############python###################
.idea
venv
.vscode
__pycache__

*.txt
*.bin

tmp*
test.py
demo.py

*.xml
*.iml
*.ini
*.log

build*
dist
*.spec
